%table{table_attrs(:style => hr_style, :width => $inner_width)}
  %tr
    %td{gutter_v}
-# %hr{:style => "border: none 0; border-top:1px; border-style:solid; border-color:#a6a6a6; height:1px; background: #ffffff; margin: 0;"}
-# %br/
