%br/
%table{table_attrs}
  %tr
    %td{td_attrs, :style => font_attrs}
      %img{:alt => "main promo", :src => "http://www.placehold.it/368x190", :style => "display: block; max-width: 100%; -ms-interpolation-mode: bicubic;", :width => "100%"}/
    %td{:width => "16"}
    %td{td_attrs, :style => font_attrs, :width => 177}
      :markdown
        ### lorem_ipsum_dolor Lorem ipsum dolor
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
        [read more](http://test.com)
%br/
