:erb
  <br />
  <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;">Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong>
  <br /><br />
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
  <br /><br />
  <a href="http://test.com" target="_blank">Read more &hellip;</a>
