%br/
%table{table_attrs(:style => "border-top: 1px solid #cccccc;")}
  %tr
    %td{gutter_v, colspan(3)}
  %tr
    %td{td_attrs, :style => font_attrs}
      %a{link_attrs}
        %img{img_attrs(:src => "#{$img_dev_url}#{($inner_width - $gutter) / 2}x110")}
        %br/
        :markdown
          #### Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
    %td{gutter_h}
    %td{td_attrs, :style => font_attrs}
      %a{link_attrs}
        %img{img_attrs(:src => "#{$img_dev_url}#{($inner_width - $gutter) / 2}x110")}
        %br/
        :markdown
          #### Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  

