%br/
%table{table_attrs, :style => "border-top: 1px solid #cccccc"}
  %tr
    %td{gutter_v} &nbsp;
  %tr
    %td{td_attrs, :colspan => 3}
      %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      %br/
      %img{:alt => "promo", :src => "http://www.placehold.it/560x110", :style => "display: block; max-width: 100%; -ms-interpolation-mode: bicubic;", :width => "100%"}/
      %br/
  = partial :'modules/_2cols'
