%br/
%table{table_attrs, :width => $inner_width}
  %tr
    %td{td_attrs, :style => font_attrs}
      %img{img_attrs, :alt => "promo",:src => "http://www.placehold.it/#{$inner_width}x220"}/
      = partial :'modules/_copy_block' 

