%table{table_attrs, :width => $fix_width}
  %tr
    %td{center}
      %table#reminder-top{table_attrs(:bgcolor => "#FFBB00", :cellpadding => 5, :width => $fix_width)}
        %tr
          %td{gutter_h} &nbsp;
          %td{td_attrs(:role => "heading", :style => font_attrs)}
            %a{link_attrs(:style => "color: #{$copy_col};", :role => 'link')}
              %strong
                Check your points
          = partial :'modules/_gutter_h'

