%table.brand{table_attrs(:bgcolor => $wrapper_bg, :width => $fix_width)}
  %tr
    %td{:bgcolor => $wrapper_bg, :height => "5"}
      %img{:src => "img/spacer.gif" }
  %tr
    %td{td_attrs, :bgcolor => $brand_color, :width => $fix_width}
      %a{link_attrs}
        %img{img_attrs(:src => "#{$img_dev_url}/590x75/", :alt => "www.partypoker.com")}/
  %tr
    %td{:bgcolor => "#fff", :height => "5"}
      %img{:src => "img/spacer.gif" }
