%table.brand{table_attrs(bgcolor: $wrapper_bg, width: $fix_width)}
  %tr
    %td{td_attrs, bgcolor: $wrapper_bg, height: "5"}
      -# %img{src: "img/spacer.gif" }
      %img{src: "#{$img_dev_url}/1x1/", height: "5", width: "1", style: "display: block;"}
  %tr
    %td{td_attrs, bgcolor: $brand_color, width: $fix_width}
      %a{link_attrs}
        -# %img{img_attrs(src: "img/brand-logo.jpg", alt: "www.partypoker.com", width: "")}/
        %img{img_attrs(src: "#{$img_dev_url}/590x75/", alt: "www.partypoker.com")}/
  %tr
    %td{td_attrs, bgcolor: "#fff", height: "5"}
      %img{src: "#{$img_dev_url}/1x1/", height: "5", width: "1", style: "display: block;"}
      -# %img{src: "img/spacer.gif" }
