%center
  %table{table_attrs, bgcolor: "#e73f40", width: "350"}
    %tr
      %td{left, top, width: "5", height: "5"}
        %img{src: "#{$img_dev_url}/5x5/", width: "5", height: "5", style: "display: block;"}
      %td{height: "5"}
      %td{left, bottom, width: "5", height: "5"}
        %img{src: "#{$img_dev_url}/5x5/", width: "5", height: "5", style: "display: block;"}
    %tr
      %td{width: "5"}
      %td{center, middle,  style: font_attrs(padding: "5px", font_size: "14px")}
        %a{link_attrs, style: "color: #ffffff;"}
          Gv tri tago alio zorgi, loka vavo disde aĥ ko.
      %td{width: "5"}
    %tr
      %td{right, top, width: "5", height: "5"}
        %img{src: "#{$img_dev_url}/5x5/", width: "5", height: "5", style: "display: block;"}
      %td{height: "5"}
      %td{right, bottom, width: "5", height: "5"}
        %img{src: "#{$img_dev_url}/5x5/", width: "5", height: "5", style: "display: block;"}

  %br/

