%center
  %table{table_attrs, bgcolor: "#e73f40", width: "", style: "max-width: 80%;"}
    %tr
      %td
        %img{src: "img/ctl.png", width: "5", height: "5"}
      %td
      %td
        %img{src: "img/ctr.png", width: "5", height: "5"}
    %tr
      %td
      %td{center, middle,  style: font_attrs(padding: "5px", font_size: "14px")}
        %a{link_attrs, style: "color: #ffffff;"}
          Gv tri tago alio zorgi, loka vavo disde aĥ ko.
      %td
    %tr
      %td
        %img{src: "img/cbl.png", width: "5", height: "5"}
      %td
      %td
        %img{src: "img/cbr.png", width: "5", height: "5"}

  %br/

