%table{table_attrs, bgcolor: "#101010", width: $fix_width, style: "border: solid 1px #333333;"}
  %tr
    %td{center}
      %img{src: "#{$img_dev_url}/1x1/", width: "1", height: "20", style: "display: block;"}
      %table.account{table_attrs, bgcolor: "#101010", width: $fix_width - 50}
        %tr
          %td{left, middle, width: "440"}
            %table.account{table_attrs, bgcolor: "#101010"}
              %tr
                %td{left, middle, style: font_attrs(font_size: "10px", color: "#ffffff")}
                  %strong Account name:
                  \##F_CUSTOM3## -
                  %a{href: "https://secure.partyaccount.com/poker/index.htm", style: "color: #ffffff", target: "_blank"}
                    %span{style: "color: #ffffff;"} Your account
              %tr
                %td{height: "5"}
              %tr
                %td{left, middle, style: font_attrs(font_size: "10px", color: "#ffffff")}
                  %strong Your email address:
                  \##F_EMAIL## -
                  %a{href: "##F_UNSUBSCRIBE_URL##&amp;productID=POKER&amp;brandID=PARTY&amp;LANG_ID=en_US", style: "color: #ffffff", target: "_blank"}
                    %span{style: "color: #ffffff;"} Update your email preferences
              %tr
                %td{height: "5"}
              %tr
                %td{left, middle, style: font_attrs(font_size: "10px", color: "#ffffff")}
                  Restrictions apply to all our promotions and bonus offers -
                  %a{href: "https://secure.partyaccount.com/about/standard_terms_conditions_s.do?productID=POKER&amp;brandID=PARTY&amp;LANG_ID=en", style: "color: #ffffff", target: "_blank"}
                    %span{style: "color: #ffffff;"} Terms and conditions
              %tr
                %td{height: "5"}
              %tr
                %td{left, middle, style: font_attrs(font_size: "10px", color: "#ffffff")}
                  For assistance, contact our 24/7 -
                  %a{href: "http://www.partypoker.com/help/", style: "color: #ffffff", target: "_blank"}
                    %span{style: "color: #ffffff;"} Customer Care Team

          %td{right, middle, width: "50"}
            %a{link_attrs}
              %img{img_attrs, src: "http://www.partycasino.com/etc/designs/common/images/footer/ft_over-18.png", width: "41", height: "40"}
          %td{right, middle, width: "60"}
            %a{link_attrs}
              %img{img_attrs, src:  "http://www.partycasino.com/etc/designs/common/images/footer/ft_know-your-limits.png", width: "52", height: "40"}

      %img{src: "#{$img_dev_url}/1x1/", width: "1", height: "20", style: "display: block;"}

%br/

%table.legal{bgcolor: "#000000", border: "0", cellpadding: "0", cellspacing: "0", width: "570"}
  %tbody
    %tr
      %td{td_attrs, left, top, style: font_attrs(font_size: "10px", color: "#999999")}
        We provide self-exclusion controls, time and deposit limits - we know our limits and encourage our customers to know theirs. We strictly prohibit gaming by minors and do not market to under 18s.
        %br/
        %br/
        You have received this email because you are a player at
        %a{href: "http://www.partypoker.com/", style: "color: #999999;", target: "_blank"}
          %span{style: "color: #999999;"} PartyPoker.com
        and have agreed to receive promotional emails. If you wish to change your email preferences, please update your
        %a{href: "##F_UNSUBSCRIBE_URL##&amp;productID=POKER&amp;brandID=PARTY&amp;LANG_ID=en_US", style: "color: #999999;", target: "_blank"}
          %span{style: "color: #999999;"} message settings.
        %br/
        %br/
        To ensure you continue to receive emails, please add
        %a{href: "mailto:promo@partypoker.com", style: "color: #999999;", target: "_blank"}
          %span{style: "color: #999999;"} promo@partypoker.com
        to your address list. For more information about our privacy policy and to report abuse complaints or other issues, please check the
        %a{href: "https://secure.partyaccount.com/about/privacy_s.do?productID=POKER&amp;brandID=PARTY&amp;LANG_ID=en", style: "color: #999999;", target: "_blank"}
          %span{style: "color: #999999;"} privacy policy page
        or contact us by
        %a{href: "mailto:privacy@partypoker.com", style: "color: #999999;", target: "_blank"}
          %span{style: "color: #999999;"} email
        or by post at: ElectraWorks Limited, Suite 711, Block 7, Europort, Gibraltar.
%br/
%br/
%img{border: "0", height: "1", src: "http://pixel.monitor1.returnpath.net/pixel.gif?r=b337da206fed89997693febd3678b86da60e4c5f&amp;productID=##F_PRODUCT_ID##&amp;brandID=##F_BRAND_ID##&amp;LANG_ID=##F_ACCOUNT_LANGUAGE_ID##", :width => "1"}/

