%table{table_attrs, bgcolor: $newsletter_bg_color, width: $fix_width - 50, style: "border-bottom: 1px solid #{$border_primary_color}"}
  %tr
    %td{td_attrs, align: "center", style: font_attrs(font_size: "16px")}
      %strong
        Promotions section header
      -# %br/
      -# %img{src: "#{$img_dev_url}/1x1/", width: "1", height: "5", display: "block", vspace: "0"}
  %tr
    %td{center, height: "5"}
      -# %img{src: "#{$img_dev_url}/1x1/", width: "1", height: "5", display: "block"}
      / not empty
%br/
