%table{table_attrs, bgcolor: $newsletter_bg_color, width: $fix_width - ($gutter * 2)}
  %tr
    %td{td_attrs, align: "left", style: font_attrs(font_size: "16px")}
      %strong
        Promotions section header
  -# %tr
    %td{center, height: "5"}
      / not empty
%img{src: "#{$img_dev_url}spacer.gif", width: "1", height: "#{$news_modules_spacer}", style: "display: block;"}
