%table.social{table_attrs, bgcolor: $wrapper_bg, width: $fix_width}
  %tr
    %td{right, bottom, bgcolor: $wrapper_bg, height: "40"}
      %table.social{table_attrs, bgcolor: $wrapper_bg, width: "65" }
        %tr
          %td{right, middle, bgcolor: $wrapper_bg, width: $logo_width}
            %a{link_attrs, href: "http://www.youtube.com"}
              -# %img{img_attrs, src: "img/youtube.png", width: "15", height: "15", alt: "YouTube", title: "YouTube"}/
              %img{img_attrs, src: "#{$img_dev_url}/15x15/", width: "15", height: "15", alt: "YouTube", title: "YouTube"}/
          %td{right, middle, bgcolor: $wrapper_bg, width: $logo_width}
            %a{link_attrs, href: "http://www.facebook.com"}
              -# %img{img_attrs, src: "img/facebook.png", width: "15", height: "15", alt: "facebook", title: "facebook"}/
              %img{img_attrs, src: "#{$img_dev_url}/15x15/", width: "15", height: "15", alt: "YouTube", title: "YouTube"}/
          %td{right, middle, bgcolor: $wrapper_bg, width: $logo_width}
            %a{link_attrs, href: "http://www.twitter.com"}
              -# %img{img_attrs, src: "img/twitter.png", width: "15", height: "15", alt: "twitter", title: "twitter"}/
              %img{img_attrs, src: "#{$img_dev_url}/15x15/", width: "15", height: "15", alt: "YouTube", title: "YouTube"}/
