%table{table_attrs(:width => $inner_width)}
  %tr
    %td{td_attrs}
      %img{:alt => "secondary promo", :src => "http://www.placehold.it/#{$col_1}x#{$img_rythm}", :style => "display: block; max-width: 100%; -ms-interpolation-mode: bicubic;", :width => "100%"}/
      %br/
      %h3#lorem_ipsum_dolor_sit_amet_consectetur_adipisicing_elit Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      %p testipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
%br/
